<tr class='<%= 'success' if sco.current %>'>
  <td><%= link_to(
    t('view.scos.activate'), activate_sco_path(sco), method: :put
  ) unless sco.current %></td>
  <td><%= sco.full_name %></td>
  <td><%= link_to_show sco %></td>
  <td><%= link_to_edit edit_sco_path(sco) if can? :update, sco %></td>
  <td><%= link_to_destroy sco if can? :destroy, sco %></td>
</tr>
