<tr class='<%= 'success' if sco.current %>'>
  <td>
    <% action = sco.current ? 'desactivate' : 'activate' %>
    <%= link_to(
      t('view.scos.' + action), [action, 'configs', sco], method: :put
    ) %>
  </td>
  <td><%= sco.full_name %></td>
  <td><%= link_to_show [:configs, sco] %></td>
  <td><%= link_to_edit edit_configs_sco_path(sco) if can? :update, sco %></td>
  <td><%= link_to_destroy [:configs, sco] if can? :destroy, sco %></td>
</tr>
