<tr class='<%= 'success' if sco.current %>'>
  <td><%= link_to(
    t('view.scos.activate'), activate_configs_sco_path(sco), method: :put
  ) unless sco.current %></td>
  <td><%= sco.full_name %></td>
  <td><%= link_to_show [:configs, sco] %></td>
  <td><%= link_to_edit edit_configs_sco_path(sco) if can? :update, sco %></td>
  <td><%= link_to_destroy [:configs, sco] if can? :destroy, sco %></td>
</tr>
