<div class="modal">
  <%= simple_form_for @person, url: people_url_for_form, remote: true, html:
      { data: { target: 'modal', error: 'modal', modal: true } } do |f| %>
    <div class="modal-header">
      <h2><%= @title %></h2>
    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="modal-footer">
      <%= link_to_function t('label.close'), "$('#modal').modal('toggle');",
                           class: 'btn' %>
      <%= f.button :submit, t('view.people.edit') ,  class: 'btn-primary' %>
    </div>
  <% end %>
</div>