<%= simple_form_for([@intervention, @mobile_intervention, @building, @person]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">
    <span class='span5'>
      <%= f.input :name %>
      <%= f.input :last_name %>
      <%= f.input :address %>
      <%= f.input :dni_type, collection: ['DNI', 'Libreta Cívica', 'Otro'], default: 'DNI' %>
      <%= f.input :dni_number %>
    </span>
    <span class='span5'>
      <%= f.input :age %>
      <%= f.input :phone_number %>
      <%= f.input :relation, collection: ['Propietario','Inquilino'], default: 'Propietario' %>
      <%= f.input :moved_to %>
      <%= f.input :injuries %>
    </span>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
