<div class="container-fluid">
  <h2><%= show_kind_of_intervention @intervention.kind %> - Persona afectada</h2>
</div>
<%= content_for :form_actions do %>
  <%= link_to t('activerecord.models.intervention.one'), @intervention %> |
  <%= link_to t('activerecord.models.mobile_intervention.one'), intervention_endowement_mobile_intervention_path(@intervention, @endowment,  @mobile_intervention) %>
<% end %>

<%= render 'form' %>