<div class="readonly-data">
  <h2><%= @person %></h2>

  <p>
    <strong><%= Person.human_attribute_name 'name' %></strong>:
    <%= @person.name %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'last_name' %></strong>:
    <%= @person.last_name %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'address' %></strong>:
    <%= @person.address %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'dni_type' %></strong>:
    <%= @person.dni_type %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'dni_number' %></strong>:
    <%= @person.dni_number %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'age' %></strong>:
    <%= @person.age %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'phone_number' %></strong>:
    <%= @person.phone_number %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'relation' %></strong>:
    <%= @person.relation %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'moved_to' %></strong>:
    <%= @person.moved_to %>
  </p>
  <p>
    <strong><%= Person.human_attribute_name 'injuries' %></strong>:
    <%= @person.injuries %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_person_path(@person) if can? :update, @person %> |
  <%= link_to t('label.list'), people_path %>
</div>
