<tr id="<%= dom_id(firefighter) %>">
  <td><%= firefighter.hierarchy %></td>
  <td><%= firefighter.lastname %></td>
  <td><%= firefighter.firstname %></td>
  <td><%= firefighter.identification %></td>
  <td><%= firefighter.blood %></td>
  <td><%= firefighter.status %></td>
  <td><%= "#{firefighter.linephone} - #{firefighter.cellphone}" %></td>

  <td><%= link_to_show [:configs, firefighter] %></td>
  <td><%= link_to_edit edit_configs_firefighter_path(firefighter) if can? :update,
                       firefighter %></td>
  <td><%= link_to_destroy [:configs, firefighter], remote: true, data: {
                          target: dom_id(firefighter) } if can? :destroy,
                          firefighter %></td>
</tr>
