<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :identification %>
</div>
<%= content_for :form_actions do %>
  <%= link_to_function t('label.close'), "$('#modal').modal('toggle');",
                       class: 'btn' %>
<% end %>
