<div class="modal">
    <div class="modal-header readonly-data">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3><%= @firefighter %></h3>
    </div>
    <div class="modal-body readonly-data">
      <% %w(firstname lastname identification).each do |attr| %>
        <p>
          <strong><%= Firefighter.human_attribute_name attr %></strong>:
          <%= @firefighter[attr] %>
        </p>
      <% end %>
      <p>
        <strong><%= Firefighter.human_attribute_name 'user_id' %></strong>:
        <%= @firefighter.user %>
      </p>
    </div>
</div>
