<%= configs_subnav %>
<div class="container-fluid">
  <%= simple_form_for([:configs, @firefighter] ) do |f| %>
    <h3><%= t('view.firefighters.edit_title') %></h3>
    <%= render partial: 'form', locals: { f: f } %>
    <%= yield :form_actions %>
    <%= f.submit t('label.save'), class: 'btn btn-primary',
                 disable_with: t('label.saving') %>
  <% end %>
</div>
