<%= configs_subnav %>
<% if @firefighters.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Firefighter.human_attribute_name 'firstname' %></th>
            <th><%= Firefighter.human_attribute_name 'lastname' %></th>
            <th><%= Firefighter.human_attribute_name 'identification' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @firefighters.each do |firefighter| %>
            <tr>
              <td><%= firefighter.firstname %></td>
              <td><%= firefighter.lastname %></td>
              <td><%= firefighter.identification %></td>
              <td><%= link_to_show [:configs, firefighter] %></td>
              <td><%= link_to_edit edit_configs_firefighter_path(firefighter) if can? :update, firefighter %></td>
              <td><%= link_to_destroy [:configs, firefighter] if can? :destroy, firefighter %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@firefighters) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.firefighters.new', default: :'label.new'),
    new_configs_firefighter_path, class: 'btn btn-primary'
  ) if can? :create, Firefighter %>
</div>
