<%= configs_subnav %>
<div class="container-fluid">
  <h3><%= @firefighter %></h3>
  <div class="span5">
    <% %w(lastname firstname address birth_date blood_type blood_factor cellphone city dni
          education_level email firehouse_name federation hierarchy
          identification linephone number_of_childrens organization
          role sex started_at state status).each do |attr| %>
      <p>
        <strong><%= Firefighter.human_attribute_name attr %></strong>:
        <% if @firefighter[attr] && @firefighter[attr].is_a?(Date) %>
          <%= l @firefighter[attr] %>
        <% else %>
          <%= @firefighter[attr] %>
        <% end %>
      </p>
    <% end %>
    <p>
      <strong><%= Firefighter.human_attribute_name 'is_active_boss' %></strong>:
      <%= boolean_text_field @firefighter.is_active_boss %>
    </p>
    <p>
      <strong><%= Firefighter.human_attribute_name 'is_instructor' %></strong>:
      <%= boolean_text_field @firefighter.is_instructor %>
    </p>
    <p>
      <strong><%= Firefighter.human_attribute_name 'user_id' %></strong>:
      <%= @firefighter.user %>
    </p>
  </div>

  <div class="span6">
    <%= render partial: 'configs/relatives/index' %>
  </div>
</div>
