<div id="<%= volume_changer = 'volume_changer' %>">
  <%= form_for :volume_changer,
    url: configs_lights_volume_path,
    method: :patch, remote: true,
    data: { target: volume_changer, replace: true, responds_as: :patch,
            callback: "highlightItem('', '', '##{volume_changer}');"
  }  do |f|  %>

    <div class="row-fluid">
      <div class="span2">
        <div data-slider="slider">
        </div>
      </div>
      <div class="span6">
        <h4 data-slider="value"><%= volume %></h4>
      </div>
    </div>
    <%= f.hidden_field :volume, value: volume, data: { slider: 'input' } %>
    <br />
    <br />
    <br />
    <%= f.submit t('view.lights.submit_volume'), class: 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
  $('[data-slider="slider"]').slider({
      orientation: 'vertical',
      range: 'min',
      min: 0,
      max: 100,
      value: <%= volume.to_i %>,
      slide: function( event, ui ) {
        $('[data-slider="input"]').val( ui.value );
        $('[data-slider="value"]').html( ui.value );
      }
    });
</script>
