<%= configs_subnav %>

<div class="container-fluid">
  <div class="row-fluid">
      <% if @lights.empty? %>
        <%= render 'shared/empty_index' %>
      <% else %>
        <% Light::KINDS.each do |kind| %>
          <div class="span3">

            <h2><%= t("view.lights.#{kind}") %></h2>

            <%= render partial: 'light_kind',
              locals: { kind: kind, lights: @lights } %>
          </div>
        <% end %>
        <div class="span3">
          <h2><%= t('view.lights.volume') %></h2>

          <%= render partial: 'volume', locals: { volume: @volume } %>
        </span>
      <% end %>
    </div>
</div>
<div class="form-actions">
</div>
