<div class="container-fluid">
  <div class="row-fluid">
    <% if @lights.empty? %>
      <%= render 'shared/empty_index' %>
    <% else %>
      <% Light::KINDS.each do |kind| %>
        <div class="span3">

          <h2><%= t("view.lights.#{kind}") %></h2>

          <%= render partial: 'light_kind',
            locals: { kind: kind, lights: @lights } %>
        </div>
      <% end %>
      <div class="span3">
        <h2><%= t('view.lights.volume') %></h2>

        <%= render partial: 'volume', locals: { volume: @volume } %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="row-fluid">
    <%= form_for :config_semaphore do |f| %>
      <div class="span3">
        <h2>Tiempo de semaforo Colon</h2>
        <%= render "shared/horizontal_slider", f: f, field: :timeout, value: 33 %>
      </div>
      <div class="span3">
        <h2>Nº de Semaforo ppal</h2>
        <%= f.number_field :main_id, min: 1, max: 10 %>
      </div>
    <% end %>
  </div>
</div>
<div class="form-actions">
</div>

<script type="text/javascript">
  initSliders = function() {
    $('[data-slider="slider"]').each(function(i, element) {
      $element = $(element)
      $element.slider({
        orientation: $element.data('orientation') || 'vertical',
        range: 'min',
        min: 0,
        max: $element.data('max') || 100,
        value: $element.data('value'),
        slide: function( event, ui ) {
          container = $(event.target).parents('.slider-container:first')
          container.find('[data-slider="input"]').val( ui.value );
          container.find('[data-slider="value"]').html( ui.value );
        }
      });
    });
  };
  $(document).ready(initSliders);
  $(document).on('ajaxSuccess', initSliders);
</script>
