<div class="modal">
  <div class="modal-header">
    <h3>
      <%= t('view.relatives.edit_title') %>
      <a class="close" data-dismiss="modal">&times;</a>
    </h3>
  </div>
  <%= simple_form_for([:configs, @firefighter, @relative], remote: true, html: {
        data: { target: "relative_#{dom_id(@relative)}", error: 'modal',
        modal: true, replace: true } }, method: :put ) do |f| %>
    <div class="modal-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="modal-footer">
      <%= yield :form_actions %>
      <%= f.submit t('label.save'), class: 'btn btn-primary',
                   disable_with: t('label.saving') %>
    </div>
  <% end %>
</div>
