<div class="readonly-data">
  <h2><%= @endowment %></h2>

  <p>
    <strong><%= Endowment.human_attribute_name 'number' %></strong>:
    <%= @endowment.number %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_endowment_path(@endowment) if can? :update, @endowment %> |
  <%= link_to t('label.list'), endowments_path %>
</div>
