<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="iconic">&#xe055;</span>
      </a>
      
      <%= link_to t('app_name'), root_path, class: 'brand' %>
      
      <% if user_signed_in? %>
        <div class="nav-collapse">
          <ul class="nav">
            <%= show_menu_link(
              name: 'users', controllers: 'users', path: users_path
            ) if can?(:read, User) %>
            <%= show_menu_link(
              name: 'interventions', controllers: 'interventions', 
              path: interventions_path
            ) if can?(:read, Intervention) %>
            <%= show_menu_link(
              name: 'hierarchies', controllers: 'hierarchies', 
              path: hierarchies_path
            ) if can?(:read, Hierarchy) %>
            <%= show_menu_link(
              name: 'scos', controllers: 'scos', path: scos_path
            ) if can?(:read, Sco) %>
            <%= show_menu_link(
              name: 'trucks', controllers: 'trucks', path: trucks_path
            ) if can?(:read, Truck) %>
            <%= show_menu_link(
              name: 'firefighters', controllers: 'firefighters', 
              path: firefighters_path
            ) if can?(:read, Firefighter) %>
            <%= show_menu_link(
              name: 'configs', controllers: 'intervention_types',
              path: configs_intervention_types_path
            ) if can?(:read, InterventionType) %>
          </ul>
          <%= render partial: 'shared/nav_search' %>
          <ul class="nav pull-right">
            <li>
              <%= link_to(
                current_user.email, edit_profile_user_path(current_user),
                'title' => t('view.users.edit_profile'),
                'data-show-tooltip' => true, 'data-placement' => 'bottom'
              ) %>
            </li>
            <li>
              <%= link_to(
                '&#x2192;'.html_safe, destroy_user_session_path,
                'title' => t('menu.actions.logout'), 'class' => 'iconic',
                'id' => 'logout', 'data-show-tooltip' => true,
                'data-placement' => 'bottom', 'method' => :delete
              ) %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
