<%= render partial: 'shared/datetime_filter' %>

<% if @shifts_report.any? %>
    <table class="table table-striped">
      <thead>
        <th><%= Shift.human_attribute_name 'firefighter' %></th>
        <% Shift::KINDS.each do |i, _kind| %>
          <th><%= show_shift_kind i %></th>
        <% end %>
        <th><%= t('view.shifts.reports.total') %></th>
      </thead>
      <tbody>
        <% @shifts_report.each do |report| %>
          <tr>
            <td><%= report.firefighter %></td>
            <% Shift::KINDS.each do |i, _kind| %>
              <td><%= related_seconds_if_exist report.kinds[i] %></td>
            <% end %>
            <td><%= related_seconds_if_exist report.total_seconds %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<div class="form-actions">

</div>
