<div class="form-inputs clearfix">
  <div class='row-fluid'>
    <%= f.input :address, input_html: { class: 'span11' } %>
    <%= f.input :description, input_html: { class: 'span11', rows: 5 } %>
  </div>
  <div class="row-fluid page-header">
    <h3><%= t 'view.buildings.damages_title' %></h3>
  </div>
  <div class="row-fluid">
    <%= f.input :floor, input_html: { class: 'span11' } %>
    <%= f.input :roof, input_html: { class: 'span11' } %>
    <%= f.input :window, input_html: { class: 'span11' } %>
    <%= f.input :electrics, input_html: { class: 'span11' } %>
    <%= f.input :damage, input_html: { class: 'span11', rows: 5 } %>
  </div>
</div>
