<div class="modal">
  <%= form_for @intervention_type, url: configs_intervention_type_path(
      priority: params[:priority]), html: { remote: true, data: { target:
      dom_id(@intervention_type), error: 'modal', modal: true, replace: true,
      responds_as: :put, callback: "highlightItem('#{dom_id(@intervention_type)}',
      'intervention_types_list', #{dom_id(@intervention_type)});
      $('.colorpicker.dropdown-menu').remove();" }, class: 'form-horizontal',
      multipart: true } do |f| %>
    <div class="modal-header">
      <h2>
        <%= @title %>
        <%= image_tag(@intervention_type.image_url.to_s, class: 'image-thumb') if
                @intervention_type.image.present?  %>
      </h2>

    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: {f: f} %>
    </div>
    <div class="modal-footer">
      <%= link_to_function t('label.close'), "$('#modal').modal('toggle'); $('.colorpicker.dropdown-menu').remove();", class: 'btn' %>
      <%= f.button t('label.save'), class: 'btn btn-primary', disable_with: t('label.saving') %>
    </div>
  <% end %>
</div>
