<div class="modal">
  <%= form_for @intervention_type, url: configs_intervention_type_path(
      priority: params[:priority]), html: { remote: true, data: { target:
      dom_id(@intervention_type), error: 'modal', modal: true, replace: true,
      responds_as: :put, callback: "highlightItem('#{dom_id(@intervention_type)}',
      'intervention_types_list', #{dom_id(@intervention_type)});" },
      class: 'form-horizontal', multipart: true } do |f| %>
    <% # Fucking hack for "SrBuj" / html/js post %>
    <%= hidden_field_tag('authenticity_token', form_authenticity_token.to_s)%>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h2>
        <%= @title %>
        <%= image_tag(@intervention_type.image_url.to_s, class: 'image-thumb') if
                @intervention_type.image.present?  %>
      </h2>

    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: {f: f} %>
    </div>
    <div class="modal-footer">
      <%= f.button t('label.save'), class: 'btn btn-primary', disable_with: t('label.saving') %>
    </div>
  <% end %>
</div>
