<div class="control-group">
  <label class="control-label"><%= InterventionType.human_attribute_name :name %></label>
  <div class="controls">
    <%= f.text_field :name, autofocus: true, placeholder: InterventionType.human_attribute_name(:name) %>
    <span class="red"><%= errors_for @intervention_type, :name %></span>
  </div>
</div>
<div class="control-group">
  <label class="control-label"><%= InterventionType.human_attribute_name :image %></label>
  <div class="controls">
    <%= f.file_field :image, placeholder: InterventionType.human_attribute_name(:image) %>
    <%= f.text_field :remote_image_url, placeholder:
        t('activerecord.attributes.intervention_type.image_address')%>

  </div>
</div>
<div class="control-group" data-color-format="rgb" data-color="rgb(255, 255, 255)">
  <label class="control-label"><%= InterventionType.human_attribute_name :color %></label>
  <div class="controls">
    <div class="input-append color">
      <%= f.text_field :color, placeholder: InterventionType.human_attribute_name(:color), value: (@intervention_type.color || 'white'), class: 'colorpicker' %>
      <span class="add-on"><i style="background-color: <%= @intervention_type.color || 'white' %>"></i></span>
    </div>
    <span class="red"><%= errors_for @intervention_type, :color %></span>
  </div>
</div>

<div class="form-horizontal">
  <% lights_collection_with_translation.each do |light, traduction| %>
    <div class="control-group">
      <%= f.label traduction, class: 'control-label', for: "intervention_type_lights_#{light}" %>
      <div class="controls">
        <%= f.check_box :lights, checked: @intervention_type.lights[light],
          name: "intervention_type[lights][#{light}]",
          id: "intervention_type_lights_#{light}" %>
      </div>
    </div>
  <% end %>
</div>

<div class="control-group">
  <label class="control-label"><%= InterventionType.human_attribute_name :audio %></label>
  <div class="controls">
    <%= f.file_field :audio %>
  </div>
  <% if @intervention_type.audio? %>
    <div class="alert alert-info">
      <%= t('view.intervention_types.audio_file', name: @intervention_type.audio.file.filename) %>
    </div>
  <% end %>
</div>


<script>
  setColorPicker();
  removeColopickerOnModalHide();
</script>
