<div class="modal">
  <%= form_for @intervention_type, url: configs_intervention_types_path(
      father: @father ), html: { remote: true, data: { target: (
      @father ? "new_#{dom_id(@father)}" : 'new_intervention_type'), error:
      'modal', modal: true, replace: true, callback:
      "highlightItem('#{@father ? "new_#{dom_id(@father)}" : 'new_intervention_type'}',
      '#{@father ? dom_id(@father) + '_childrens' : 'intervention_types_list'}',
      false); $('.colorpicker.dropdown-menu').remove();" }, class:
      'form-horizontal', multipart: true } do |f| %>
    <div class="modal-header">
      <h2>
        Nuevo tipo de intervención
        <%= image_tag(@intervention_type.image_url.to_s, class: 'image-thumb') if
                @intervention_type.image.present?  %>
      </h2>
    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: {f: f} %>
    </div>
    <div class="modal-footer">
      <%= link_to_function t('label.close'), "$('#modal').modal('toggle');
      $('.colorpicker.dropdown-menu').remove();", class: 'btn' %>
      <%= f.button t('label.save'), class: 'btn btn-primary', disable_with: t('label.saving') %>
    </div>
  <% end %>
</div>
