<div class="modal">
  <%= form_for @intervention_type, url: intervention_type_path, html: { data: {
      target: dom_id(@intervention_type), respond_as: :put, error: 'modal',
      modal: true} }, remote: true do |f| %>
    <div class="modal-header">
      <h2>Editando: '<%= @intervention_type.name %>'</h2>
    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: {f: f} %>
    </div>
    <div class="modal-footer">
      <%= link_to_function t('app.close'), "$('#modal').modal('toggle');", class: 'btn' %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
