<% if @intervention_types.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="container-fluid">
    <div class="row">
      <div class="span5 intervention-types-list">
        <h1>Tipos de incidentes</h1>
        <% @intervention_types.each do |intervention_type| %>
          <%= render intervention_type, special_class: 'type' %>
          <%= render intervention_type.childrens.order(:priority),
                     special_class: 'subtype' %>
        <% end %>
        <div id="new_intervention_type"></div>
      </div>
      <div class="span1"></div>
      <div class="span5">
        <h2>Prioridades</h2>
        <ol>
          <% 10.times do %>
            <li></li>
          <% end %>
        </ol>
      </div>
    </div>

    <%= pagination_links(@intervention_types) %>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.intervention_types.new', default: :'label.new'),
    new_intervention_type_path, class: 'btn btn-primary', remote: true, data: {
          target: 'modal', modal: true } ) if can? :create, InterventionType %>
</div>

<script>
  setTooltips();
</script>
