<% if @intervention_types.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="container-fluid">
    <div class="row">
      <div class="span5 intervention-types-list">
        <h1><%= t('view.intervention_types.index_title') %></h1>
        <% @intervention_types.each do |intervention_type| %>
          <%= render intervention_type, special_class: 'type' %>
          <%= render intervention_type.childrens.order(:priority),
                     special_class: 'subtype' %>
        <% end %>
        <div id="new_intervention_type"></div>
      </div>
      <div class="span1"></div>
      <div class="span5">
        <h2><%= t 'view.intervention_types.priorities' %></h2>
        <ol>
          <% @top_10_intervention_types.each do |intervention_type| %>
            <li><%= intervention_type.name %></li>
          <% end %>
        </ol>
        <%= link_to t('view.intervention_types.change_priorities'),
        priorities_intervention_types_path, remote: true, data: {target: 'modal',
        modal: true }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.intervention_types.new', default: :'label.new'),
    new_intervention_type_path, class: 'btn btn-primary', remote: true, data: {
    target: 'modal', modal: true } ) if can? :create, InterventionType %>
</div>

<script>
  setTooltips();
</script>
