<% intervention_type = intervention_types.select{|x| x.priority == i}.first %>
<% if intervention_type %>
  <div class="button-active alarm-button" style="background-image: url('<%= intervention_type.image.present? ? intervention_type.image_url.to_s : '' %>') " target="<%= intervention_type.id %>">
    <div class="text" style="color:<%= intervention_type.color ? intervention_type.color : ''%>"><%=	intervention_type.name %></div>
  </div>
<% else %>
  <div class="button-empty alarm-button">
    <div class="text"><%=	'&nbsp'.html_safe %></div>
  </div>
<% end %>
