<div class='row-fluid'>
  <div class='span3 label'>
    <%= f.label :auto_firefighter_name, show_charge_name(f.object.charge) %>
    <%= f.input :charge, as: :hidden %>
  </div>
  <div class='span9'>
    <%= f.label :firefighter_id %>
    <%= f.input :auto_firefighter_name, label: false, input_html: {
      value: f.object.firefighter,
      class: 'span10 autocomplete-field',
      data: {
        'autocomplete-id-target' => '#intervention_firefighter_id',
        'autocomplete-url' => autocomplete_for_firefighter_name_interventions_path(
          format: :json
        )
      }
    } %>

    <%= f.input :firefighter_id, as: :hidden %>
  </div>
</div>
