<% i = f.try(:index) || 0 %>
<% number = defined?(dynamic) ? 'dynamicContent' : f.object.number %>

<div class="tab-pane <%= 'active' if i == 0 %>"
  id="endowments_<%= number %>" data-endowment-item="true">
  <fieldset>
    <div class='row-fluid'>
      <div class='span5'>
        <div class="row-fluid">
          <div class="span6">
            <%= f.label :number %>
          </div>
          <div class="span6">
            <%= f.input :number, label: false,
              input_html: { class: 'span11', value: number } %>
          </div>
        </div>
        <div class='row-fluid'>
          <%= render partial: 'truck_output', locals: { f: f } %>
        </div>
      </div>
      <div class='span7' data-endowment-lines="true">
        <%= f.simple_fields_for :endowment_lines,
          defaults: { input_html: { class: 'span11' } } do |el| %>

          <%= render partial: 'endowment_line', locals: { f: el } %>
        <% end %>
      </div>
    </div>
  </fieldset>
</div>
