<%= simple_form_for @intervention,
  defaults: { input_html: { class: 'span10' } },
  html: { autocomplete: 'off', data: { intervention_form: true } } do |f| %>
  <div class='page-header'>
    <h3><%= t('view.interventions.output_title') %></h3>
  </div>

  <div class='row-fluid'>
    <div class='tabbable' data-endowments-items>
      <ul class="nav nav-tabs">
        <% @intervention.endowments.each_with_index do |e, i| %>
          <li class="<%= 'active' if i.zero? %>">
            <%= link_to e.number, "#endowments_#{e.number}",
              class: 'js-change-tab',
              data: { toggle: 'tab', 'endowment-link' => true, number: e.number, target: "#endowments_#{e.number}"} %>
          </li>
        <% end %>
        <%= link_to(
          '&#xe008;'.html_safe, '#',
          id: 'add_new_endowment', class: 'iconic',
          data: {
            url: intervention_endowments_path(@intervention.id)
           }
        ) %>
      </ul>
      <div class="tab-content">
        <%= f.simple_fields_for :endowments do |e| %>
          <%= render 'shared/errors_for', list: e.object.errors[:base] if e.object.errors[:base]%>
          <%= render partial: 'endowment', locals: { f: e } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
