<%- if @no_active_ceo %>
    <div class='alert alert-danger'><%= t('view.interventions.no_active_ceo') %></div>
<% end %>
<h2><%= t(
  'view.interventions.new_title', number: intervention_next_number_for_form
) %></h2>
<% intervention_form = nil %>
<%= simple_form_for @intervention, defaults: { input_html: { class: 'span10' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <div class='span8'>
        <%= f.input :address %>
        <%= f.input :near_corner %>
        <%= f.input :kind_notes %>
      </div>
      <div class='span4'>
        <%= kind_collection_for_intervention(f) %>
      </div>
    </div>
    <% if f.object.informer.blank? && f.object.sco_id %>
      <h3><%= Intervention.human_attribute_name 'sco_id' %></h3>
      <%= link_to_current_sco %>
    <% else %>
      <div class='row-fluid'>
        <div class='page-header'>
          <div class='row-fluid'>
            <div class='span6'>
              <h3><%= t('view.interventions.informer_title') %></h3>
            </div>
            <div class='span3 pull-right'>
              <h5><%= raw([
                t('view.interventions.current_sco'), link_to_current_sco
              ].join(': ')) if f.object.informer.present? %></h5>
              <% if current_sco %>
                <%= f.input :sco_id, as: :hidden, input_html: { value: current_sco.id } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="hide" id="scos">
        </div>
        <%= f.simple_fields_for :informer do |inf| %>
          <%= render partial: 'informer', locals: { inf: inf }  %>
        <% end %>
        <div class="row-fluid">
          <div class='span5'>
            <%= f.label :receptor_id %>
            <%= f.input :auto_receptor_name, label: false, input_html: {
              value: @intervention.receptor || current_user, class: 'span10 autocomplete-field',
              data: {
                'autocomplete-id-target' => '#intervention_receptor_id',
                'autocomplete-url' => autocomplete_for_receptor_name_interventions_path(
                  format: :json
                )
              }
            } %>
            <%= f.input :receptor_id, as: :hidden, input_html: {
              value: current_user.id
            } %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='page-header'>
      <h3><%= t('view.interventions.output_title') %></h3>
    </div>

    <div class='row-fluid'>
      <div class='span5'>
        <div class='row-fluid'>
          <%= render partial: 'truck_output', locals: { f: f } %>
        </div>
      </div>
      <div class='span7'>
        <div class='tabbable' data-endowments-items>
          <% if f.object.errors.full_messages.empty? %>
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to(
                  1, '#endowment_lines_1', 
                  data: { toggle: 'tab', 'endowment-link' => true }
                ) %>
              </li>
              <%= link_to(
                '&#xe008;'.html_safe, '#', 
                id: 'add_new_endowment', class: 'iconic'
              ) %>
            </ul>
            <div class="tab-content">
              <%= f.simple_fields_for :endowments do |e| %>
                <%= render partial: 'endowment', locals: { f: e } %>
              <% end %>
            </div>
          <% else %>
            <ul class="nav nav-tabs">
              <% @intervention.endowments.each_with_index do |e, i| %>
                <li class="<%= 'active' if i.zero? %>">
                  <%= link_to(
                    e.number, "#endowment_lines_#{e.number}",
                    data: { toggle: 'tab' }
                  ) %>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @intervention.endowments.each_with_index do |e, i| %>
                <div class="tab-pane <%= 'active' if i.zero? %>" 
                  id="endowment_lines_<%= e.number %>">
                  <% e.endowment_lines.each do |el| %>
                    <div class="row-fluid">
                      <div class="span3">
                        <%= show_charge_name el.charge %>
                      </div>
                      <div class="span9">
                        <%= el.firefighter %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='page-header'>
        <h3><%= Intervention.human_attribute_name :observations %></h3>
      </div>
      <%= f.input :observations, label: false, input_html: { class: 'span11', rows: 5 } %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <% intervention_form = f %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var dynamicTab = 
    '<%= content_tag(:li, link_to(
        "dynamicContent", "#endowment_lines_dynamicContent", 
        data: { toggle: 'tab', 'endowment-link' => true }
      )
    ) %>'
  var dynamicForm =
    '<%= link_to_add_fields("+", intervention_form, :endowments) %>'
</script>
