<%= simple_form_for(@intervention) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <strong><%= t('view.interventions.form_title') %></strong>
      <%= f.input :number, input_html: { 
        readonly: true, value: intervention_next_number_for_form
      } %>
      <%= f.input :address %>
      <%= f.input :near_corner %>
      <%= kind_select_for_intervention(f) %>
      <%= f.input :kind_notes %>
      <%= f.input :hierarchy_id %>
      <%= f.input :observations %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :receptor_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
