<%- if @no_active_ceo %>
    <div class='alert alert-danger'><%= t('view.interventions.no_active_ceo') %></div>
<% end %>
<h2><%= t(
  'view.interventions.new_title', number: intervention_next_number_for_form
) %></h2>
<%= simple_form_for @intervention, defaults: { input_html: { class: 'span10' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <div class='span8'>
        <%= f.input :address %>
        <%= f.input :near_corner %>
        <%= f.input :kind_notes %>
      </div>
      <div class='span4'>
        <%= kind_collection_for_intervention(f) %>
      </div>
    </div>
    <% if f.object.informer.blank? && f.object.sco_id %>
      <h3><%= Intervention.human_attribute_name 'sco_id' %></h3>
      <%= link_to_current_sco %>
    <% else %>
      <div class='row-fluid'>
        <div class='page-header'>
          <div class='row-fluid'>
            <div class='span6'>
              <h3><%= t('view.interventions.informer_title') %></h3>
            </div>
            <div class='span3 pull-right'>
              <h5><%= raw([
                t('view.interventions.current_sco'), link_to_current_sco
              ].join(': ')) if f.object.informer.present? %></h5>
              <% if current_sco %>
                <%= f.input :sco_id, as: :hidden, input_html: { value: current_sco.id } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="hide" id="scos">
        </div>
        <%= f.simple_fields_for :informer do |inf| %>
          <%= render partial: 'informer', locals: { inf: inf }  %>
        <% end %>
        <div class="row-fluid">
          <div class='span5'>
            <%= f.label :receptor_id %>
            <%= f.input :auto_receptor_name, label: false, input_html: {
              value: @intervention.receptor || current_user, class: 'span10 autocomplete-field',
              data: {
                'autocomplete-id-target' => '#intervention_receptor_id',
                'autocomplete-url' => autocomplete_for_receptor_name_interventions_path(
                  format: :json
                )
              }
            } %>
            <%= f.input :receptor_id, as: :hidden, input_html: {
              value: current_user.id
            } %>
          </div>
        </div>
      </div>
    <% end %>
    <div class='row-fluid'>
      <div class='page-header'>
        <h3><%= t('view.interventions.output_title') %></h3>
      </div>
      <div class='span5'>
        <div class='row-fluid'>
          <%= render partial: 'truck_output', locals: { f: f } %>
        </div>
      </div>
      <div class='span7'>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='page-header'>
        <h3><%= Intervention.human_attribute_name :observations %></h3>
      </div>
      <%= f.input :observations, label: false, input_html: { class: 'span11', rows: 5 } %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
