<h2><%= t('view.interventions.new_title') %></h2>
<%= simple_form_for @intervention, defaults: { input_html: { class: 'span10' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <%= f.input :number, input_html: { 
        readonly: true, value: intervention_next_number_for_form
      } %>
      <%= f.input :address %>
      <%= f.input :near_corner %>
      <%= kind_select_for_intervention(f) %>
      <%= f.input :kind_notes %>
      <%= f.input :hierarchy_id %>
    </div>
    <div class='row-fluid'>
      <div class='span5'>
        <div class='row-fluid'>
          <div class='span2'>
            <%= f.label :truck_id %>
          </div>
          <div class='span6'>
            <%= f.input :truck_id, label: false %>
          </div>
          <div class='span4'>
            <%= t('view.interventions.mileages') %>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.label :out_at %>
          </div>
          <div class='span4'>
            <%= f.input :out_at, as: :datetime_picker, label: false %>
          </div>
          <div class='span4'>
            <%= f.input :out_mileage, label: false %>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.label :arrive_at %>
          </div>
          <div class='span4'>
            <%= f.input :arrive_at, as: :datetime_picker, label: false %>
          </div>
          <div class='span4'>
            <%= f.input :arrive_mileage, label: false %>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.label :back_at %>
          </div>
          <div class='span4'>
            <%= f.input :back_at, as: :datetime_picker, label: false %>
          </div>
          <div class='span4'>
            <%= f.input :back_mileage, label: false %>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.label :in_at %>
          </div>
          <div class='span4'>
            <%= f.input :in_at, as: :datetime_picker, label: false %>
          </div>
          <div class='span4'>
            <%= f.input :in_mileage, label: false %>
          </div>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <%= f.input :observations %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :receptor_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
