<div class="modal">
  <div class="modal-header">
    <h2>
      <%= @title %>
      <h3 id="show_map_title">
        <%= params[:address] %>
      </h3>
    </h2>
  </div>
  <div class="modal-body">
    <div id="map_canvas" class="google-map"></div>
  </div>
  <div class="modal-footer">
    <%= link_to_function t('label.close'), "$('#modal').modal('toggle'); cleanModal();", class: 'btn' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  if ('<%= params[:latitude] %>'&& '<%= params[:longitude] %>') {
    findByCoordenates('<%= params[:latitude] %>', '<%= params[:longitude] %>', '<%= params[:address] %>');
  }
  else {
    if (document.getElementById("intervention_address").value){
      var address = document.getElementById("intervention_address").value;
    }
    else {
      if (document.getElementById("intervention_address").innerText){
        var address = document.getElementById("intervention_address").innerText;
      }
      else {
        var address = document.getElementById("intervention_address").textContent;
      }
    }
//    findAddressInMap(address);
  }
</script>
