<div class='row-fluid'>
  <div class='span2'>
    <%= f.label :truck_id %>
  </div>
  <div class='span6'>
    <%= f.input :auto_truck_number, label: false, input_html: {
      value: @intervention.truck, class: 'span11 autocomplete-field',
      data: {
        'autocomplete-id-target' => '#intervention_truck_id',
        'autocomplete-url' => autocomplete_for_truck_number_interventions_path(
          format: :json
        )
      }
    } %>
    <%= f.input :truck_id, as: :hidden %>
  </div>
  <div class='span4'>
    <%= t('view.interventions.mileages') %>
  </div>
</div>

<div class= 'row-fluid'>
  <div class='span4'>
    <%= f.label :out_at %>
  </div>
  <div class='span4'>
    <%= f.input :out_at, label: false, input_html: { 
       readonly: true, value: f.object.out_at || l(Time.now, format: :hour_min)
    } %>
  </div>
  <div class='span4'>
    <%= f.input :out_mileage, label: false %>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <%= f.label :arrive_at %>
  </div>
  <div class='span4'>
    <%= f.input :arrive_at, label: false, input_html: { readonly: true } %>
  </div>
  <div class='span4'>
    <%= f.input :arrive_mileage, label: false %>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <%= f.label :back_at %>
  </div>
  <div class='span4'>
    <%= f.input :back_at, label: false, input_html: { readonly: true } %>
  </div>
  <div class='span4'>
    <%= f.input :back_mileage, label: false %>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <%= f.label :in_at %>
  </div>
  <div class='span4'>
    <%= f.input :in_at, label: false, input_html: { readonly: true  } %>
  </div>
  <div class='span4'>
    <%= f.input :in_mileage, label: false %>
  </div>
</div>
