<table class="table table-bordered table-striped table-condensed">
  <tbody>
    <tr>
      <td>
        <%= f.label :truck_id %>
      </td>
      <td>
        <%= f.input :truck_number, label: false, input_html: {
          value: f.object.truck, class: 'span12',
          data: { 'truck-number' => true }
        } %>
      </td>
      <td>
        <h4><%= (t('view.interventions.mileages') + " &#x2193;").html_safe %></h4>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to (f.label :out_at), '#',
          title: t('view.interventions.set_time'), class: 'btn',
          data: { 'set-time-to' => 'out_at' } %>
      </td>
      <td>
        <%= f.input :out_at, label: false, input_html: {
          value: f.object.out_at, class: 'span12', data: {
            intervention_saver: true,
          }
        } %>
      </td>
      <td>
        <%= f.input :out_mileage, label: false, input_html: {
          class: 'span12', data: {
            intervention_saver: true,
            travel_type: 'out_mileage'
          }
        } %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to (f.label :arrive_at), '#',
          title: t('view.interventions.set_time'), class: 'btn',
          data: { 'set-time-to' => 'arrive_at' } %>
      </td>
      <td>
        <%= f.input :arrive_at, label: false, input_html: { class: 'span12', data: { intervention_saver: true } } %>
      </td>
      <td>
        <%= f.input :arrive_mileage, label: false, input_html: {
          class: 'span12', data: {
            travel_type: 'arrive_mileage'
          }
        } %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to (f.label :back_at), '#',
          title: t('view.interventions.set_time'), class: 'btn',
          data: { 'set-time-to' => 'back_at' } %>
      </td>
      <td>
        <%= f.input :back_at, label: false, input_html: { class: 'span12', data: { intervention_saver: true } } %>
      </td>
      <td>
        <%= f.input :back_mileage, label: false, input_html: {
          class: 'span12', data: {
            travel_type: 'back_mileage'
          }
        } %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to (f.label :in_at), '#',
          title: t('view.interventions.set_time'), class: 'btn',
          data: { 'set-time-to' => 'in_at' } %>
      </td>
      <td>
        <%= f.input :in_at, label: false, input_html: { class: 'span12', data: { intervention_saver: true } } %>
      </td>
      <td>
        <%= f.input :in_mileage, label: false, input_html: {
          class: 'span12', data: {
            travel_type: 'in_mileage'
          }
        } %>
      </td>
    </tr>
  </tbody>
</table>
