<%= content_for :form_actions do %>
  <%= link_to t('label.show'), @intervention %> |
  <%= link_to t('label.list'), interventions_path %>
<% end %>

<h2 class="js-intervention-title"><%= @intervention %></h2>

<% content_for :quick_buttons do %>
  <%= render partial: 'interventions/special_buttons' unless @intervention.finished? %>
<% end %>
<%= render 'form' %>
