<%= content_for :form_actions do %>
  <%= link_to t('label.show'), @intervention %> |
  <%= link_to t('label.list'), interventions_path %>
<% end %>

<h2><%= @intervention %></h2>

<%= render partial: 'interventions/special_buttons' unless @intervention.finished? %>
<%= render 'form' %>
