<% if @interventions.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="container-fluid">
    <h1>
      <%= @title %>
      <%= link_to t('view.interventions.map_index.fullscreen'),
                  fullscreen_path, class: 'btn', target: :blank %>
    </h1>
    <div class="span2">
      <%= render partial: 'tracking_maps/general_map_objects', locals: { interventions_list: true } %>
    </div>
    <div class="span9">
      <div id="map_canvas" class="map-large"></div>
    </div>
  </div>
  <div class="form-actions">
    <%= link_to(
            t('view.interventions.new', default: :'label.new'),
            new_intervention_path, class: 'btn btn-primary'
        ) if can? :create, Intervention %>
    <%= link_to t('view.interventions.index_title'),
                interventions_path, class: 'btn' %>
  </div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      loadLargeMap();
    });
  </script>
<% end %>
