<% if @interventions.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <h1><%= @title %></h1>
  <div id="map_canvas" class="google-map-large"></div>
  <div class="form-actions">
    <%= link_to(
            t('view.interventions.new', default: :'label.new'),
            new_intervention_path, class: 'btn btn-primary'
        ) if can? :create, Intervention %>
    <%= link_to t('view.interventions.index_title'),
                interventions_path, class: 'btn' %>
  </div>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" charset="utf-8">
    //  todo: enviar a js
    var map = '';
    var locations = [];
    var addLocations = function(address, latitude, longitude, index){
      locations.push([address, latitude, longitude, index]);
    };
  </script>
  <% @interventions.each_with_index do |intervention, index| %>
    <script>
      addLocations('<%= intervention.address %>', '<%= intervention.latitude %>',
          '<%= intervention.longitude %>', '<%= index %>');
    </script>
  <% end %>
  <script type="text/javascript" charset="utf-8">
    var initializeGoogleMap = function () {
      map = new google.maps.Map(document.getElementById('map_canvas'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var bounds = new google.maps.LatLngBounds();

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
          return function () {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }

      map.fitBounds(bounds);

      var listener = google.maps.event.addListener(map, "idle", function () {
        map.setZoom(14);
        google.maps.event.removeListener(listener);
      });
    };
    initializeGoogleMap();

  </script>

<% end %>
