<%= content_for :form_actions do %>
  <%= link_to t('label.list'), interventions_path %>
<% end %>

<h2>
  <%= t('view.interventions.new_title') %>
</h2>

<div class="buttons open-buttons" id="quick-buttons">
  <div class="row">
    <% (1..5).each do |i| %>
      <%= render partial: 'interventions/button', locals: { i: i } %>
    <% end %>
  </div>
  <div class="row">
    <% (6..10).each do |i| %>
      <%= render partial: 'interventions/button', locals: { i: i } %>
    <% end %>
  </div>
</div>

<%= render 'form' %>
