<%= content_for :form_actions do %>
  <%= link_to t('label.list'), interventions_path %>
<% end %>

<h2>
  <%= t('view.interventions.new_title', number: intervention_next_number_for_form) %>
  <div id="buttons-trigger" class="btn btn-mini"
       data-show-text="<%= t('view.interventions.buttons.show') %>"
       data-hide-text="<%= t('view.interventions.buttons.hide') %>">
    <%= t('view.interventions.buttons.hide') %>
  </div>
</h2>

<% unless @intervention.errors.present? %>
  <div class="buttons open-buttons" id="buttons">
    <div class="row">
      <% (1..5).each do |i| %>
        <%= render partial: 'interventions/button', locals: { i: i } %>
      <% end %>
    </div>
    <div class="row">
      <% (6..10).each do |i| %>
        <%= render partial: 'interventions/button', locals: { i: i } %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'form' %>

<script type="text/javascript">
  $(document).ready(function(){
    QuickButtons.init();
  })
</script>
