<div class="readonly-data">
  <h2><%= @intervention.type %></h2>

  <div class='row-fluid'>
    <div class='span6'>
      <p>
      <strong><%= Intervention.human_attribute_name 'number' %></strong>:
      <%= @intervention.number %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'receptor_id' %></strong>:
      <%= link_to @intervention.user, user_path(@intervention.receptor_id) %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'address' %></strong>:
      <span><%= @intervention.address %></span>
      <%= link_to t('view.interventions.show_map.show_map'),
                  show_map_interventions_path(latitude: @intervention.latitude,
                  longitude: @intervention.longitude, address:
                  @intervention.address ), class: 'btn btn-small', remote: true,
                  data: { target: 'modal', modal: true,
                  callback: 'cleanModalOnModalHide'} %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'near_corner' %></strong>:
      <%= @intervention.near_corner %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'kind_notes' %></strong>:
      <%= @intervention.kind_notes %>
      </p>
    </div>

    <div class='span6'>
      <%= render 'informer_show' %>
    </div>
  </div>
  <p>
  <strong><%= Intervention.human_attribute_name 'observations' %></strong>:
  <%= simple_format @intervention.observations %>
  </p>
  <%= render 'endowment_show' %>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), 
    edit_intervention_path(@intervention) if can? :update, @intervention %> |
  <%= link_to t('label.list'), interventions_path %>
</div>
