<div class="readonly-data">
  <h2><%= show_kind_of_intervention @intervention.kind %></h2>
  <div class='row-fluid page-header'>
    <div class='span6'>
      <p>
        <strong><%= Intervention.human_attribute_name 'number' %></strong>:
        <%= @intervention.number %>
      </p>
      <p>
        <strong><%= Intervention.human_attribute_name 'receptor_id' %></strong>:
        <%= link_to @intervention.user, user_path(@intervention.receptor_id) %>
      </p>
      <p>
        <strong><%= Intervention.human_attribute_name 'address' %></strong>:
        <%= @intervention.address %>
      </p>
      <p>
        <strong><%= Intervention.human_attribute_name 'near_corner' %></strong>:
        <%= @intervention.near_corner %>
      </p>
      <p>
        <strong><%= Intervention.human_attribute_name 'kind_notes' %></strong>:
        <%= @intervention.kind_notes %>
      </p>
    </div>
    <div class='span6'>
      <% if @intervention.informer.present? %>
        <% @intervention.informer.tap do |inf| %>
          <p>
            <strong><%= Informer.human_attribute_name 'full_name' %></strong>:
            <%= inf.full_name %>
          </p>
          <p>
            <strong><%= Informer.human_attribute_name 'nid' %></strong>:
            <%= inf.nid %>
          </p>
          <p>
            <strong><%= Informer.human_attribute_name 'phone' %></strong>:
            <%= inf.phone %>
          </p>
          <p>
            <strong><%= Informer.human_attribute_name 'address' %></strong>:
            <%= inf.address %>
          </p>
        <% end %>
      <% else %>
        <strong><%= Intervention.human_attribute_name 'sco_id' %></strong>:
        <%= link_to(
          @intervention.sco, sco_path(@intervention.sco)
        ) if @intervention.sco %>
      <% end %>
    </div>
  </div>

  <div class='row-fluid page-header'>
    <div class='span5'>
      <div class='row-fluid'>
        <div class='span4'>
          <strong><%= Intervention.human_attribute_name 'truck_id' %></strong>
        </div>
        <div class='span4'>
          <%= @intervention.truck.number %>
        </div>
        <div class='span4'>
          <strong><%= t('view.interventions.mileages') %></strong>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4'>
          <strong><%= Intervention.human_attribute_name 'out_at' %></strong>
        </div>
        <div class='span4'>
          <%= @intervention.out_at %>
        </div>
        <div class='span4'>
          <%= @intervention.out_mileage %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4'>
          <% arrive_at = Intervention.human_attribute_name 'arrive_at' %>
          <% if @intervention.out_at.present? && @intervention.arrive_at.blank? %>
            <%= link_to(
              arrive_at, update_arrive_intervention_path(@intervention),
              method: :put
            ) %>
          <% else %>
            <strong><%= arrive_at %></strong>
          <% end %>
        </div>
        <div class='span4'>
          <%= @intervention.arrive_at %>
        </div>
        <div class='span4'>
          <%= @intervention.arrive_mileage %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4'>
          <% back_at = Intervention.human_attribute_name 'back_at' %>
          <% if @intervention.arrive_at.present? && @intervention.back_at.blank? %>
            <%= link_to(
              back_at, update_back_intervention_path(@intervention),
              method: :put
            ) %>
          <% else %>
            <strong><%= back_at %></strong>
          <% end %>
        </div>
        <div class='span4'>
          <%= @intervention.back_at %>
        </div>
        <div class='span4'>
          <%= @intervention.back_mileage %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4'>
          <% in_at = Intervention.human_attribute_name 'in_at' %>
          <% if @intervention.back_at.present? && @intervention.in_at.blank? %>
            <%= link_to(
              in_at, update_in_intervention_path(@intervention), 
              method: :put
            ) %>
          <% else %>
            <strong><%= in_at %></strong>
          <% end %>
        </div>
        <div class='span4'>
          <%= @intervention.in_at %>
        </div>
        <div class='span4'>
          <%= @intervention.in_mileage %>
        </div>
      </div>
    </div>
  </div>

  <p>
    <strong><%= Intervention.human_attribute_name 'observations' %></strong>:
    <%= simple_format @intervention.observations %>
  </p>
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_intervention_path(@intervention) if can? :update, @intervention %> |
  <%= link_to t('label.list'), interventions_path %>
</div>
