<div class="readonly-data">
  <h2><%= @intervention.intervention_type.name %></h2>

  <div class='row-fluid'>
    <div class='span6'>
      <p>
      <strong><%= Intervention.human_attribute_name 'number' %></strong>:
      <%= @intervention.number %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'receptor_id' %></strong>:
      <%= link_to @intervention.user, user_path(@intervention.receptor_id) %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'address' %></strong>:
      <%= @intervention.address %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'near_corner' %></strong>:
      <%= @intervention.near_corner %>
      </p>
      <p>
      <strong><%= Intervention.human_attribute_name 'kind_notes' %></strong>:
      <%= @intervention.kind_notes %>
      </p>
    </div>

    <div class='span6'>
      <%= render 'informer_show' %>
    </div>
  </div>
  <p>
  <strong><%= Intervention.human_attribute_name 'observations' %></strong>:
  <%= simple_format @intervention.observations %>
  </p>
  <%= render 'endowment_show' %>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), 
    edit_intervention_path(@intervention) if can? :update, @intervention %> |
  <%= link_to t('label.list'), interventions_path %>
</div>
