<div class='row-fluid well span11'>
  <span class='span3'>
    <h4>
      <%= t 'activerecord.attributes.building.address' %>:
      <%= building.address %>
      <%= link_to_edit ['edit', @intervention, @endowment,
                       'mobile_intervention', building], remote: true,
                       data: {target: 'modal', modal: true} %>
      <%= link_to_destroy [@intervention, @endowment,
                       'mobile_intervention', building], remote: true %>
    </h4>
    <p>
      <%= t 'activerecord.attributes.building.description' %>:
      <%= building.description %>
    </p>
    <p>
      <%= t 'activerecord.attributes.building.floor' %>:
      <%= building.floor %>
    </p>
    <p>
      <%= t 'activerecord.attributes.building.roof' %>:
      <%= building.roof %>
    </p>
    <p>
      <%= t 'activerecord.attributes.building.window' %>:
      <%= building.window %>
    </p>
    <p>
      <%= t 'activerecord.attributes.building.electrics' %>:
      <%= building.electrics %>
    </p>
    <p>
      <%= t 'activerecord.attributes.building.damage' %>:
      <%= building.damage%>
    </p>
  </span>
  <span class='span9'>
    <% if building.people.any? %>
      <%= render 'mobile_interventions/people_table', people: building.people %>
    <% end %>
    <p><%= link_to t('view.people.new'), ['new', @intervention, @endowment,
                   'mobile_intervention', building, 'person'], remote: true,
                   data: { target: 'modal', modal: true },
                   class: 'btn btn-success btn-mini' %></p>
  </span>
</div>
