<table class='table table-bordered table-striped'>
  <thead>
  <tr>
    <th><%= t 'view.mobile_interventions.tables.link' %></th>
    <th><%= t 'view.mobile_interventions.tables.names' %></th>
    <th><%= t 'view.mobile_interventions.tables.dni' %></th>
    <th><%= t 'view.mobile_interventions.tables.age' %></th>
    <th><%= t 'view.mobile_interventions.tables.phone' %></th>
    <th><%= t 'view.mobile_interventions.tables.moved_to' %></th>
    <th><%= t 'view.mobile_interventions.tables.injuries' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% people.each do |person| %>
    <tr>
      <td><%= person.relation %></td>
      <td><%= person.name%> <%= person.last_name %></td>
      <td><%= person.dni_type + person.dni_number %></td>
      <td><%= person.age %></td>
      <td><%= person.phone_number %></td>
      <td><%= person.moved_to %></td>
      <td><%= person.injuries %></td>
      <td><%= link_to_edit ['edit', @intervention, @endowment,
              'mobile_intervention', (person.vehicle || person.building), person],
              remote: true, data: { target: 'modal', modal: true } %>
          <%= link_to_destroy [@intervention, @endowment,
              'mobile_intervention', (person.vehicle || person.building), person],
              remote: true %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>