<tr id="<%= dom_id(person) %>">
  <td><%= person.relation %></td>
  <td><%= person.name%> <%= person.last_name %></td>
  <td><%= person.dni_type + person.dni_number %></td>
  <td><%= person.genre %></td>
  <td><%= person.age %></td>
  <td><%= person.phone_number %></td>
  <td><%= person.moved_to %></td>
  <td><%= person.injuries %></td>
  <td><%= link_to_edit ['edit', @intervention, @endowment,
                        'mobile_intervention', (person.vehicle || person.building), person],
                       remote: true, data: { target: 'modal', modal: true } %>
    <%= link_to_destroy [@intervention, @endowment,
                         'mobile_intervention', (person.vehicle || person.building), person],
                        remote: true, data: { target: dom_id(person) } %>
  </td>
</tr>
