<tr>
  <td><%= person.relation %></td>
  <td><%= person.name%> <%= person.last_name %></td>
  <td><%= person.dni_type + person.dni_number %></td>
  <td><%= person.genre %></td>
  <td><%= person.age %></td>
  <td><%= person.phone_number %></td>
  <td><%= person.moved_to %></td>
  <td><%= person.injuries %></td>
</tr>
