<div class="well">
  <table class='table table-bordered table-hover background-white'>
    <thead>
    <tr>
      <th><%= t 'view.mobile_interventions.tables.in_the_place' %></th>
      <th><%= t 'view.mobile_interventions.tables.mobil_number' %></th>
      <th><%= t 'view.mobile_interventions.tables.responsible' %></th>
      <th><%= t 'view.mobile_interventions.tables.driver' %></th>
      <th><%= t 'view.mobile_interventions.tables.belongs' %></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="supports_table_body">
      <% supports.each do |support| %>
        <%= render partial: 'mobile_interventions/support', locals: {
            support: support } %>
      <% end %>
      <tr id="new_support"></tr>
    </tbody>
  </table>
</div>
