<div class='well' id="<%= dom_id(vehicle) %>" >
  <span class='span3'>
    <h4>
      <%= t 'activerecord.attributes.vehicle.number' %>:
      <%= number %>
    </h4>
    <p>
      <%= t 'activerecord.attributes.vehicle.mark' %>:
      <%= vehicle.mark %>
    </p>
    <p>
      <%= t 'activerecord.attributes.vehicle.model' %>:
    <%= vehicle.model %>
    </p>
    <p>
      <%= t 'activerecord.attributes.vehicle.year' %>:
      <%= vehicle.year %>
    </p>
    <p>
      <%= t 'activerecord.attributes.vehicle.domain' %>:
      <%= vehicle.domain %>
    </p>
    <p>
      <%= t 'activerecord.attributes.vehicle.damage' %>
      <%= vehicle.damage %>
    </p>
    <%= link_to_edit edit_intervention_endowment_mobile_intervention_vehicle_path(
        @intervention, @endowment, vehicle, number: number ),
        remote: true, data: { target: 'modal', modal: true } %>
    <%= link_to_destroy [@intervention, @endowment,
                         'mobile_intervention', vehicle], remote: true,
                        data: { target: dom_id(vehicle) } %>
  </span>
  <span class='span9'>
    <%= render partial: 'mobile_interventions/people_table',
               locals: { people: vehicle.people, building: false }%>
    <p><%= link_to t('view.people.new'), ['new', @intervention, @endowment,
          'mobile_intervention', vehicle, 'person'], remote: true,
           data: { target: 'modal', modal: true },
           class: 'btn btn-success btn-mini' %></p>
  </span>
<div class="clearfix"></div>
</div>