<div class="readonly-data">
  <h2><%= show_kind_of_intervention @intervention.kind %> - <%= t('activerecord.models.mobile_intervention.one') %> </h2>
  <p>
    <strong><%= MobileIntervention.human_attribute_name 'date' %></strong>:
    <%= @intervention.created_at.strftime('%d/%m/%Y - %H:%MHs.') %>
  </p>
  <%= simple_form_for([@intervention, @endowment, @mobile_intervention]) do |f| %>
    <div class="pull-right">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
    <%= f.error_notification %>
    <%= f.input :observations, input_html: { class: 'span9', rows: 5 } %>
  <% end %>
  <hr/>
  <div class='row-fluid'>
    <h3><%= t 'view.mobile_interventions.buildings_info' %></h3>
    <% @mobile_intervention.buildings.each do |building| %>
      <%= render 'mobile_interventions/building', building: building %>
    <% end %>
    <p><%= link_to t('view.buildings.new'), new_mobile_intervention_building_path(@mobile_intervention), class: 'btn btn-primary' %></p>
  </div>

  <hr/>

  <div class='row-fluid'>
    <h3><%= t 'view.mobile_interventions.vehicles_info' %></h3>
    <% number = 0 %>
    <% @mobile_intervention.vehicles.each do |vehicle| %>
      <% number += 1 %>
      <%= render 'mobile_interventions/vehicle', vehicle: vehicle, number: number %>
    <% end %>
    <p><%= link_to t('view.vehicles.new'), new_mobile_intervention_vehicle_path(@mobile_intervention), class: 'btn btn-primary' %></p>
  </div>

  <hr/>

  <div class='row-fluid'>
    <h3><%= t 'view.mobile_interventions.supports_info' %></h3>
    <% if @mobile_intervention.supports.any? %>
      <%= render 'mobile_interventions/support_table' %>
    <% end %>
    <p><%= link_to t('view.supports.new'), new_mobile_intervention_support_path(@mobile_intervention), class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_mobile_intervention_path(@mobile_intervention) if can? :update, @mobile_intervention %> |
  <%= link_to t('activerecord.models.intervention.one'), @intervention %>
</div>
