<div class="readonly-data">
  <h2><%= show_kind_of_intervention @intervention.kind %> - Planilla Móvil</h2>
  <div class='row-fluid'>
    <span class='span3'>
      <p>
        <strong><%= MobileIntervention.human_attribute_name 'date' %></strong>:
        <%= @mobile_intervention.date.strftime('%d/%m/%Y - %H:%MHs.') %>
      </p>
    </span>
    <span class='span9'>

      <p>
      <strong><%= MobileIntervention.human_attribute_name 'emergency' %></strong>:
      <%= @mobile_intervention.emergency %>
      </p>
      <p>
      <strong><%= MobileIntervention.human_attribute_name 'observations' %></strong>:
      <%= @mobile_intervention.observations %>
      </p>
    </span>
  </div>
  <hr/>
  <div class='row-fluid'>
    <h3>Datos de inmuebles</h3>
    <% @mobile_intervention.buildings.each do |building| %>
      <%= render 'mobile_interventions/building', building: building %>
    <% end %>
    <p><%= link_to 'Agregar Inmueble', new_intervention_mobile_intervention_building_path(
        @intervention, @mobile_intervention), class: 'btn btn-primary' %></p>
  </div>

  <hr/>

  <div class='row-fluid'>
    <h3>Vehículos</h3>
    <% number = 0 %>
    <% @mobile_intervention.vehicles.each do |vehicle| %>
      <% number += 1 %>
      <%= render 'mobile_interventions/vehicle', vehicle: vehicle, number: number %>
    <% end %>
    <p><%= link_to 'Agregar Vehículo', new_intervention_mobile_intervention_vehicle_path(
        @intervention, @mobile_intervention), class: 'btn btn-primary' %></p>
  </div>

  <hr/>

  <div class='row-fluid'>
    <h3>Movilidades de apoyo</h3>
    <% if @mobile_intervention.supports.any? %>
      <%= render 'mobile_interventions/support_table' %>
    <% end %>
    <p><%= link_to 'Agregar Móvil de Apoyo', new_intervention_mobile_intervention_support_path(
        @intervention, @mobile_intervention), class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_intervention_mobile_intervention_path(@intervention, @mobile_intervention) if can? :update, @mobile_intervention %> |
  <%= link_to t('activerecord.models.intervention.one'), @intervention %>
</div>
