<div class="readonly-data">
  <div class="page-header">
    <h2><%= @intervention.type %> - <%= t('activerecord.models.mobile_intervention.one') %> </h2>
    <p>
      <strong><%= MobileIntervention.human_attribute_name 'date' %></strong>:
      <%= @intervention.created_at.strftime('%d/%m/%Y - %H:%MHs.') %>
    </p>
    <%= form_for @mobile_intervention,
                 url: intervention_endowment_mobile_intervention_path(
                     @intervention, @endowment
                 ), method: :put do |f| %>
      <span class="pull-right"><%= f.submit t('view.mobile_interventions.edit_button'),
                                            class: 'btn btn-primary' %></span>
      <div class="form-inputs">
        <%= f.text_area :observations, class: 'span9', rows: 5, placeholder:
            t('activerecord.attributes.intervention.observations') %>
      </div>
  <% end %>
  </div>

  <div class='row-fluid page-header'>
    <h3><%= t 'view.mobile_interventions.buildings_info' %></h3>
    <div id="buildings_list">
      <% @buildings.each do |building| %>
        <%= render 'mobile_interventions/building', building: building %>
      <% end %>
      <div id="new_building"></div>
    </div>
    <p><%= link_to(
               t('view.buildings.new'),
               new_intervention_endowment_mobile_intervention_building_path(
                   @intervention, @endowment), class: 'btn btn-primary', remote: true,
               data: {target: 'modal', modal: true}
           ) %></p>
  </div>

  <div class='row-fluid page-header'>
    <h3><%= t 'view.mobile_interventions.vehicles_info' %></h3>
    <div id="vehicles_list">
      <% @vehicles.each do |vehicle| %>
        <%= render 'mobile_interventions/vehicle', vehicle: vehicle %>
      <% end %>
      <div id="new_vehicle"></div>
    </div>
    <p><%= link_to t('view.vehicles.new'),
      new_intervention_endowment_mobile_intervention_vehicle_path(
        @intervention, @endowment ), class: 'btn btn-primary', remote: true,
      data: { target: 'modal', modal: true } %></p>
  </div>

  <div class='row-fluid'>
    <h3><%= t 'view.mobile_interventions.supports_info' %></h3>
    <%= render 'mobile_interventions/support_table' %>
    <p><%= link_to t('view.supports.new'), ['new', @intervention, @endowment,
           'mobile_intervention', 'support'], remote: true, data: {
           target: 'modal', modal: true }, class: 'btn btn-primary' %></p>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('activerecord.models.intervention.one'), @intervention %>
</div>
