<%= simple_form_for([@mobile_intervention, @support]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">
    <span class='span5'>
      <%= f.input :support_type, collection: Support::SUPPORT_TYPES, default: Support::SUPPORT_TYPES[0] %>
      <%= f.input :number %>
    </span>
    <span class='span5'>
      <%= f.input :responsible %>
      <%= f.input :driver%>
      <%= f.input :owner %>
    </span>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, 'Agregar móvil de apoyo', class: 'btn-primary' %>
  </div>
<% end %>
