<div class="row-fluid">
  <div class="span4">
    <%= f.input :mark, input_html: { class: 'span12', autofocus: true } %>
    <%= f.input :model, input_html: { class: 'span12' } %>
    <%= f.input :year, input_html: { class: 'span12' } %>
    <%= f.input :domain, input_html: { class: 'span12' } %>
  </div>
  <div class="span7">
    <%= f.input :damage, input_html: { class: 'span12', rows: 12 } %>
  </div>
</div>
