<ol id="markers-data" class="markers-list">
  <% @interventions.each_with_index do |intervention, index| %>
    <li
      data-marker-address="<%= intervention.intervention_type %>: <%= intervention.address %>"
      data-marker-latitude="<%= intervention.latitude %>"
      data-marker-longitude="<%= intervention.longitude %>"
    >
      <% if interventions_list %>
        <%= "#{intervention.intervention_type}: #{intervention.address}" %>
      <% end %>
    </li>
  <% end %>
</ol>
