<div id="markers-data">
  <% @interventions.each_with_index do |intervention, index| %>
    <div
      data-marker-address="<%= intervention.intervention_type %>: <%= intervention.address %>"
      data-marker-latitude="<%= intervention.latitude %>"
      data-marker-longitude="<%= intervention.longitude %>"
      data-marker-index="<%= index %>"
    ></div>
  <% end %>
</div>
