<ul id="markers-data" class="unstyled markers-list <%= 'hide' unless interventions_list %>">
  <% @interventions.each do |intervention| %>
    <li
      data-marker-address="<%= intervention.to_s %>"
      data-marker-latitude="<%= intervention.latitude %>"
      data-marker-longitude="<%= intervention.longitude %>"
    >
      <%= intervention.to_s if interventions_list %>
    </li>
  <% end %>
</ul>
