<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <%= yield :js_headers %>
  <%= javascript_include_tag 'application', data: { 'turbolinks-track' => true } %>
  <%= stylesheet_link_tag 'application', media: 'all', data: { 'turbolinks-track' => true } %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body id="c_<%= controller_name %>" data-action="<%= action_name %>"
      <%= raw 'class="logged_in"' if user_signed_in? %>>
  <%= render 'shared/menu' %>
  <div id="loading_caption" class="alert" style="display: none;">
    <strong><%= t('label.loading') %></strong>
  </div>

  <%= render "shared/new_intervention_popup" if controller_name.to_s.match(/intervention/i) %>

  <div id="intervention_alert" class="alert alert-error hide not-printable">
  </div>
  <div class="container">
    <div class="content">
      <%= content_tag(:h1, @title, class: 'print-only') if @title %>

      <%= configs_subnav if configs_controller? %>
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/notice' if flash.notice %>
  <%= render 'shared/alert' if flash.alert %>

  <div id="modal"></div>
</body>
</html>
